<body>
    <div class="container-fluid">
        <h1 class="text-center">Profiel van @ViewBag.User.Username</h1>
    </div>

    <div class="container">
        <div class="row row-cols-lg-2 row-cols-1">
            <div class="col">
                <h3 class="text-center">Info</h3>
                <div class="text-start">
                    <label>Username</label>
                    <input value="@ViewBag.User.Username" disabled />
                    <label>Email</label>
                    <input value="@ViewBag.User.Email" disabled />
                </div>
            </div>
            <div class="col">
                <h3 class="text-center">Blogs</h3>
                <a class="btn btn-primary rounded-pill" asp-controller="Blog" asp-action="Create">Create Blog</a>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Title</th>
                            <th>Categorie</th>
                            <th>Actions</th>
                        </tr>
                        @foreach (var blog in ViewBag.User.Blogs)
                        {
                            <tr>
                                <td>@blog.Title</td>
                                <td>@blog.Categories[0].Name</td>
                                <td class="d-flex">
                                    <a class="text me-1" asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id"><i class="fa-solid fa-eye"></i></a>
                                    <a class="text me-1" asp-controller="Blog" asp-action="Update" asp-route-id="@blog.Id"><i class="fa-solid fa-pen"></i></a>
                                    <a class="text-danger" asp-controller="Blog" asp-action="Delete" asp-route-id="@blog.Id"><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>